.shopping-cart {
  padding: 15px;
  position: fixed;
  top: 70px;
  left: 1050px;
  height: 280px;
  width: 280px;
  border-radius: 15px;
  background-color: whitesmoke;
  overflow-y: scroll;
}
.cart-item {
  display: flex;
  align-items: center;
}

.quantity-name {
  display: flex;
  padding-left: 95px;
  padding-bottom: 10px;
}

.img-item {
  border-radius: 3px 3px 3px 3px;
  padding-bottom: 8px;
  padding-right: 15px;
}

.name {
  margin-right: auto;
}

.checkout-btn {
  padding: 15px;
  border: none;
  margin-left: 60px;
}
